---
import "@docsearch/css/dist/style.css";
import "@src/styles/index.scss";

import ColorSchemeSwitcher from "@src/components/ColorSchemeSwitcher.astro";
import ExternalLinks from "@src/components/ExternalLinks.astro";
import ActiveLink from "@src/components/ActiveLink.astro";
import InlineSVG from "@src/components/InlineSVG.astro";

const {props} = Astro;
const {frontmatter = {}} = props;

const bodyClass = frontmatter.bodyClass ?? props.bodyClass ?? "";
const socialImage = frontmatter.socialImage ?? props.socialImage ?? "social-logo.png";

const description = frontmatter.description ?? props.description ?? "";

let title = props.title ?? frontmatter.title ?? "";
title = title.trim();
if (!title.includes("Biome")) {
	if (title !== "") {
		title += " \u2014 ";
	}
	title += "Biome";
}

function encodeSVG(buffer: string) {
	return `data:image/svg+xml;utf8,${encodeURIComponent(buffer.toString())}`;
}

const { default: favicon } = await import("/public/img/favicon.svg?raw");
---

<!doctype html>
<html lang="en" data-theme="auto">
	<head>
		<meta charset="utf8" />
		<title>{title}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
		<link rel="icon" type="image/svg+xml" href={encodeSVG(favicon)}>
		<link rel="manifest" href="/img/site.webmanifest">

		<link rel="preload" href="/fonts/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="/fonts/Inter-Bold.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="/fonts/Inter-Medium.woff2" as="font" type="font/woff2" crossorigin>

		<meta name="description" content={description}>
		<meta name="theme-color" content="#FFC905">
		<!-- OPEN GRAPH -->
		<meta property="og:title" content={title}>
		<meta property="og:description" content={description}>
		<meta property="og:image" content={`${import.meta.env.SITE}/img/${socialImage}`}>
		<!-- TWITTER -->
		<meta property="twitter:domain" content="biomejs.dev">
		<meta name="twitter:image" content={`${import.meta.env.SITE}/img/${socialImage}`}>
		<meta name="twitter:site" content="@biomejs">
		<meta name="twitter:creator" content="@biomejs">
		<meta name="twitter:image:alt" content="Logo of Biome project">
		<meta name="twitter:card" content="summary_large_image">

		<script is:inline>
			(function () {
				const currentTheme = localStorage.getItem('data-theme');
				if (currentTheme != null) {
					document.documentElement.setAttribute("data-theme", currentTheme);
				}
			})();
		</script>
	</head>

	<body class={bodyClass}>
		<div class="docs-header">
			<a class="logo" href="/">
				<InlineSVG src="biome-logo" />

				<span class="logo-text sr-only">Biome</span>
			</a>

			<ul class="desktop-navigation">
				<li><a href="/" class={Astro.url.pathname.startsWith("/playground") ? "" : "active"}>Docs</a></li>
				<li class="blog"><a href="/blog">Blog</a></li>
				<li><ActiveLink href="/playground">Playground</ActiveLink></li>
			</ul>

			<div id="docsearch-target"></div>

			<ExternalLinks />

			<ColorSchemeSwitcher />

			<a href="#" class="mobile-handle">
				<InlineSVG src="mobile-nav-handle" />
				<InlineSVG src="close-icon" />
			</a>
		</div>

		<slot />

		{import.meta.env.PROD && <script src="https://browser.sentry-cdn.com/5.29.0/bundle.tracing.min.js" crossorigin="anonymous"></script>}
		{import.meta.env.PROD && <script is:inline>
			if (typeof Sentry !== "undefined") {
				Sentry.init({
					dsn: "https://d2e6dd662d05460db434756b97bf054e@o487646.ingest.sentry.io/5546624",
					tracesSampleRate: 1.0,
				});
			}
		</script>}

		<script>
			import "@src/frontend-scripts/index.js";
		</script>
		<script>
			import "@src/frontend-scripts/docsearch.js";
		</script>
	</body>
</html>
