---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BlogPostInfo from "@/components/BlogPostInfo.astro";

export interface Props {
	post: CollectionEntry<"blog">["data"];
}

const { post } = Astro.props;
---

<Fragment>
  {
    post.coverImage && (
      <figure class="blog-cover">
        <picture>
          <Image
            alt={post.coverImage.alt}
            src={post.coverImage.lightSrc}
            class="dark:sl-hidden"
            loading="eager"
          />
          <Image
            alt={post.coverImage.alt}
            src={post.coverImage.darkSrc}
            class="light:sl-hidden"
            loading="eager"
          />
        </picture>

        {post.coverImage.caption && (
          <figcaption class="blog-cover-caption">
            {post.coverImage.caption}
          </figcaption>
        )}
      </figure>
    )
  }

  {post.subtitle && <div class="subtitle">{post.subtitle}</div>}

  <BlogPostInfo post={post} />

  <slot />
</Fragment>
