---
import BaseLayout from "@src/layouts/BaseLayout.astro";

const {props} = Astro;
const {frontmatter = {}} = props;

let sidebarEnabled = false;
let toc = "";

let parentPage;

const copyrightYear = new Date().getFullYear();
---

<BaseLayout sidebarEnabled={sidebarEnabled} {...Astro.props}>
  <div class="docs-main">

    <main class={`main content ${frontmatter.mainClass ?? ""}`}>
      {parentPage && <p class="parent-back"><a href={parentPage.url}>
        <span aria-hidden="true" class="symbol">⏎</span>
        <span class="text">{parentPage.frontmatter.title}</span>
      </a></p>}
      <slot />
    </main>

    {sidebarEnabled && <nav class="toc-sidebar sidebar">
      <h2>On this page</h2>
      <Fragment set:html={toc} />
    </nav>}
  </div>

  <footer aria-labelledby="footer">
    <div class="container footer-inner">
      <h1 id="footer" class="sr-only">Footer</h1>

      <p>&copy; {copyrightYear} Biomejs. All rights reserved.</p>
    </div>
  </footer>
</BaseLayout>
