<!-- should not generate diagnostics -->
---
import { Component } from "./component.svelte";
let hello = "Hello World";
let array = [];
let props = [];
let dynamicId = "main";
let dynamicClass = "container";
---

<html>
    <span>{hello}</span>
    <span>{notDefined}</span>
    { array.map(item => (<span>{item}</span>)) }
    <Component />
    <input {...props}>
    <div id={dynamicId} class={dynamicClass}></div>
</html>
