---
import Layout from "@src/layouts/Layout.astro";
import InlineSVG from "@src/components/InlineSVG.astro";
import BlogPostInfo from "@src/components/BlogPostInfo.astro";

let posts = await Astro.glob("./**/*.mdx");
posts = posts.sort((a, b) => {
    return new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf();
});
---

<Layout bodyClass="docs-index" title="Biome blog">
    <div class="blog">
        <h1>Blog <a href="/feed.xml" class="rss-icon"><InlineSVG src="rss" /><span class="sr-only">RSS</span></a></h1>

        <section class="blog"></section>
        {posts.map((post) => <article>
            <h2><a href={post.url}>{post.frontmatter.title}</a></h2>
            <BlogPostInfo frontmatter={post.frontmatter} />
            <Fragment set:html={post.frontmatter.summary} />
            <p><a href={post.url}>Read more</a></p>
        </article>)}
    </div>
</Layout>
