---
import InlineSVG from "@src/components/InlineSVG.astro";
interface Props {
	command: string;
}

const { command } = Astro.props;
const biome = "@biomejs/biome";
---
<script>
	import "@src/frontend-scripts/package-manager-commands"
</script>

<ul class="package-manager-selector">
	<li data-name="npm" class="active">
		<InlineSVG src="npm" />
		<span>npm</span>
	</li>
	<li data-name="yarn">
		<InlineSVG src="yarn" />
		<span>yarn</span>
	</li>
	<li data-name="pnpm">
		<InlineSVG src="pnpm" />
		<span>pnpm</span>
	</li>
	<li data-name="bun">
		<InlineSVG src="bun" />
		<span>bun</span>
	</li>
	<li data-name="deno">
		<InlineSVG src="deno" />
		<span>deno</span>
	</li>
</ul>

<pre data-name="npm" class="package-manager-command language-shellsession active"><code>npx {biome} {command}</code></pre>
<pre data-name="yarn" class="package-manager-command language-shellsession"><code>yarn dlx {biome} {command}</code></pre>
<pre data-name="pnpm" class="package-manager-command language-shellsession"><code>pnpm dlx {biome} {command}</code></pre>
<pre data-name="bun" class="package-manager-command language-shellsession"><code>bunx {biome} {command}</code></pre>
<pre data-name="deno" class="package-manager-command language-shellsession"><code>deno run -A npm:{biome} {command}</code></pre>
