---
import InlineSVG from "@/components/InlineSVG.astro";
import { Code } from "@astrojs/starlight/components";
interface Props {
	command: string;
}

const { command } = Astro.props;
const biomePackage = "@biomejs/biome";
const biomeBin = "biome";
---
<script>
	import "@/frontend-scripts/package-manager-commands";
</script>

<ul class="package-manager-selector">
	<li data-name="npm" class="active">
		<InlineSVG src="npm" />
		<span>npm</span>
	</li>
	<li data-name="yarn">
		<InlineSVG src="yarn" />
		<span>yarn</span>
	</li>
	<li data-name="pnpm">
		<InlineSVG src="pnpm" />
		<span>pnpm</span>
	</li>
	<li data-name="bun">
		<InlineSVG src="bun" />
		<span>bun</span>
	</li>
	<li data-name="deno">
		<InlineSVG src="deno" />
		<span>deno</span>
	</li>
</ul>

<pre data-name="npm" class="package-manager-command language-shellsession active">
	<Code code={`npx ${biomePackage} ${command}`} lang="bash"  />
</pre>
<pre data-name="yarn" class="package-manager-command language-shellsession">
	<Code code={`yarn ${biomeBin} ${command}`} lang="bash"  />
</pre>
<pre data-name="pnpm" class="package-manager-command language-shellsession">
	<Code code={`pnpm ${biomeBin} ${command}`} lang="bash"  />
</pre>
<pre data-name="bun" class="package-manager-command language-shellsession">
	<Code code={`bunx ${biomePackage} ${command}`} lang="bash"  />
</pre>
<pre data-name="deno" class="package-manager-command language-shellsession">
	<Code code={`deno run -A npm:${biomePackage} ${command}`} lang="bash"  />
</pre>