---
import InlineSVG from "@src/components/InlineSVG.astro";
import BlogPostInfo from "@src/components/BlogPostInfo.astro";
import "@src/styles/blog/index.scss";

let posts = await Astro.glob("../content/docs/blog/**/*.mdx");
posts = posts.sort((a, b) => {
    return new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf();
});
---

<div class="blog">
    <a href="/feed.xml" class="rss-icon"><InlineSVG src="rss" /><span class="sr-only">RSS</span></a>

    <section class="blog"></section>
    {posts.filter(post => !post.url.includes("index.mdx")).map((post) => <article>
        <h2><a href={post.frontmatter.url}>{post.frontmatter.title}</a></h2>
        <BlogPostInfo frontmatter={post.frontmatter} />
        <Fragment set:html={post.frontmatter.summary} />
        <p><a href={post.frontmatter.url}>Read more</a></p>
    </article>)}
</div>
