---
import { getCollection } from "astro:content";
import BlogPostInfo from "@/components/BlogPostInfo.astro";
import InlineSVG from "@/components/InlineSVG.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) =>
		new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
);
---

<div class="blog">
  <a href="/feed.xml" class="rss-icon"
    ><InlineSVG src="rss" /><span class="sr-only">RSS</span></a
  >

  <section class="blog"></section>
  {
    posts.map(async (post) => (
      <article>
        <h2>
          <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        </h2>
        <BlogPostInfo post={post.data} />
        <Fragment set:html={post.data.summary} />
        <p>
          <a href={`/blog/${post.slug}`}>Read more</a>
        </p>
      </article>
    ))
  }
</div>
